@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --Roboto: 'Roboto', sans-serif;
}

#root{
    background: url('./imgs/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 2rem;
    color: black;
}

.details{
    width: 40px;
    height: 40px;
}


.input-box-container{
    top:0;
    position: relative;
    padding: 2rem;
/*     background: linear-gradient(to left, #8E2DE2, #4A00E0); */
}

.input-box{
    font-family: var(--Roboto);
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.input-location:focus{
    box-shadow: 0 0 5px #8E2DE2;
}

.input-location{
    width: 100%;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 10px 20px;
    outline: none;
}

.search-button{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.3rem;
    color: #4A00E0;
}

.current-weather{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--Roboto);
    margin-top: -2rem;
}

.main-details{
    display: flex;
    align-items: center;
    font-size: 5rem;
    font-weight: 500;
}

.current-temp-icon{
    margin-top: 15px;
    height: 160px;
    width: 160px;
}

.current-temp{
    padding: 0 15px;
}

/* .current-details{
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.5rem 1.4rem;
    background: rgb(255, 230, 91);
    transition: 0.2s all ease-in-out;
    margin:2rem;
}

.current-details:hover{
    background: rgb(250, 220, 48);
} */

.forecast-parent-box{
    margin: 0 auto;
    font-family: var(--Roboto);
    display: flex;
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: 1s all ease-in-out;
}

.forecast-child-box{
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    background-color:rgba(253, 200, 255, 0.699);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    padding: 1rem 2rem;
    transition: 0.2s all ease-in-out;
}

.forecast-child-box:hover{
    transform: scale(1.05);
    background-color: #4b00e0b7; 
    color: white;
}

.forecast-details{
    display: flex;
    flex-direction: column;
}

.day-name{
    font-weight: 500;
}

.temp{
    font-weight: 500;
    font-size: 2rem;
}

@media screen and (max-width: 1163px) {
    #root{
        height: 100%;
    }
}

/* IPAD PRO */
@media screen and (width:1024px) and (height:1366px) {
    #root{
        height: 100vh;
    }
} 

/* IPAD */
@media screen and (width:768px) {
    #root{
        height: 100vh;
    }
} 

@media screen and (max-width: 850px){
    .main-details{
        font-size: 4.6rem;
    }
}

@media screen and (max-width: 680px){
    .input-box{
        width: 95%;
    }
    .main-details{
        font-size: 3rem;
    }
}

@media screen and (max-width: 500px){
    .main-details{
        font-size: 2rem;
    }
    .current-temp-icon{
        height: 90px;
        width: 90px;
    }
    .forecast-child-box{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .day-name{
        font-weight: 500;
        font-size: 1rem;
    }
    .temp{
        font-weight: 500;
        font-size: 3rem;
    }
    .forecast-details{
        align-items: none;
    }
    .forecast-temp-icon{
        width: 120px;
        height: 120px;
    }
    .forecast-child-box:hover{
        transform: none;
        background-color: #8E2DE2; 
    }
}